<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<div  class="register">
    <form action="/account/register" method="post" class="register-form">
        <fieldset>
            <h2>Your Information</h2>
            <label for="first-name">* First name:</label>
            <input type="text" name="account_firstname" id="first-name" required>
            <label for="last-name">* Last name:</label>
            <input type="text" name="account_lastname" id="last-name" required>
            <label for="email">* Email:</label>
            <input type="email" name="account_email" id="email" required>
            <label for="password">* Password:</label>
            <input type="password" name="account_password" id="password" required>
            <button type="submit">Register</button>
            <p>* required</p>
        </fieldset>
    </form>

    <aside class="password-requirements">
        <h2>Password Requirements</h2>
        <span>Passwords must include the following: </span>
        <ul>
            <li>At least 12 characters</li>
            <li>At least 1 capital letter</li>
            <li>At least 1 number</li>
            <li>At least 1 special character</li>
        </ul>
    </aside>
</div>